* {
    list-style: none;
}

body {}

nav {
    background-color: aqua;
}

.container {
    max-width: 1000px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
}

.options {
    display: flex;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(5, 200px);
    gap: 20px;
}

.gallery>*{
    width: 200px;
    height: 200px;
}