* {
    list-style: none;
}

body {}

nav {
    display: flex;
    justify-content: center;
    background-color: aqua;
    margin-bottom: 10px;
}

.container {
    max-width: 1000px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
}

.options {
    display: flex;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 20px;
}

.gallery>*{
    width: 100px;
    height: 100px;
}

.canvas-container{
    display: none;
}

.input{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    width: 80%
}

.editor{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width:50%
}